__pycache__/
*.log
exp/
resmp*/
dataset/
dump/
submit*.sh
pair_list.txt
main_stadain_doubdis.py
stgan_adain_doubdis/
main_st2new_spkcls.py
stgan2_new_spkcls/
cycgan/
stgan/
stgan1_cin/
stgan2/
stgan2_new/
main.py
main_st1cin.py
main_st2ls.py
main_st2new.py
run_train_cyc.sh
run_train_ls.sh
speaker_used.json
